<h1>Home</h1>
<p>Name:Hi you're logged in as{{name}}</p>



{{!-- //tag line of what the app is/ signup lig in

//build out login form
//work on authicating the email and pass
//after users log in, they need to see their profile
//how to jump to the next page after loggin in?
//project form, create a project.
//how to show that project page? --}}